@import 'nib'

@import 'app/views/styles/variables'

#header-container
  header
    border-bottom: 2px solid $brand-primary

    ul
      margin: 0

    li
      display: inline-block
      list-style-type: none
      padding: 1em;
